BasedOnStyle: LLVM
Language: C
IndentWidth: 2
TabWidth: 2
UseTab: Never
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
ColumnLimit: 0
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignOperands: true
KeepEmptyLinesAtTheStartOfBlocks: false
SortIncludes: false
ReflowComments: false
